<style>
  .colorpicker-palette {
    position: relative;
    cursor: pointer;
  }

  .colorpicker-palette-gradient {
    height: 180px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%), /* FF3.6+ */ -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000)), /* Chrome,Safari4+ */ -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%), /* Chrome10+,Safari5.1+ */ -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%), /* Opera 11.10+ */ -o-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%), /* IE10+ */ -ms-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background: -top-linear-gradient(top,rgba(0,0,0,0) 0%,#000000 100%), /* W3C */ -left-linear-gradient(left,#ffffff 0%,rgba(255,255,255,0) 100%);
  }

  .colorpicker-palette-draghandle {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 0 1px 4px #444444;
    cursor: pointer;
    z-index: 1;
  }
</style>

<div
  class="colorpicker-palette"
  style="background-color: {{ backgroundColor }};"
  on:mousedown="onPaletteMouseDown(event)">
  <div class="colorpicker-palette-gradient"></div>
  <div class="colorpicker-palette-draghandle"
    on:mousedown="onDraghandleMouseDown(event)"
    style="left: {{ x }}px; top: {{ y }}px;">
  </div>
</div>

<script>
  import { hsvToRgb } from '../converters'

  const paletteWidth = 250
  const paletteHeight = 180
  const handlePadding = 4

  export default {
    onrender() {
      this.originalOffsetX
      this.originalOffsetX
      this.originalY
      this.originalY

      this.handleDocumentMouseup = event => {
        document.removeEventListener('mousemove', this.handleDocumentMouseMove)
        document.removeEventListener('mouseup', this.handleDocumentMouseup)
      }

      this.handleDocumentMouseMove = event => {
        const deltaX = event.clientX - this.originalX
        const deltaY = event.clientY - this.originalY

        let x = this.originalOffsetX + deltaX
        let y = this.originalOffsetY + deltaY

        x = Math.min(x, paletteWidth)
        x = Math.max(x, 0)

        y = Math.min(y, paletteHeight)
        y = Math.max(y, 0)

        this.updateHandlePosition(x, y)
      }

      this.observe('userInputHsv', hsv => {
        // when an hsv change comes from user input, update
        // s, v, x, and y.
        this.setValuesFromHsv(hsv)
      })
    },

    data() {
      return {
        x: 0,
        y: 0
      }
    },

    methods: {
      onPaletteMouseDown(event) {
        event.preventDefault()
        document.addEventListener('mouseup', this.handleDocumentMouseup)
        document.addEventListener('mousemove', this.handleDocumentMouseMove)
        this.originalOffsetX = event.offsetX
        this.originalX = event.clientX
        this.originalOffsetY = event.offsetY
        this.originalY = event.clientY
        this.updateHandlePosition(event.offsetX, event.offsetY)
      },

      onDraghandleMouseDown(event) {
        event.preventDefault()
        event.stopPropagation()
        document.addEventListener('mouseup', this.handleDocumentMouseup)
        document.addEventListener('mousemove', this.handleDocumentMouseMove)
        this.originalOffsetX = this.get('x')
        this.originalX = event.clientX - handlePadding
        this.originalOffsetY = this.get('y')
        this.originalY = event.clientY - handlePadding
      },

      updateHandlePosition(x, y) {
        this.set({
          x: x - handlePadding,
          y: y - handlePadding
        })

        const xPercentage = x / paletteWidth
        const yPercentage = y / paletteHeight

        this.fire('change', {
          s: 100 * xPercentage,
          v: 100 - (100 * yPercentage)
        })
      },

      setValuesFromHsv(hsv) {
        const s = hsv[1]
        const v = hsv[2]

        const xPercentage = s / 100
        const yPercentage = v / 100

        this.set({
          x: (paletteWidth * xPercentage) - handlePadding,
          y: paletteHeight - (paletteHeight * yPercentage) - handlePadding
        })
      }
    },

    computed: {
      backgroundColor: h => {
        const rgb = hsvToRgb([h, 100, 100])
        const r = Math.round(rgb[0])
        const g = Math.round(rgb[1])
        const b = Math.round(rgb[2])
        return `rgb(${r}, ${g}, ${b})`
      }
    }
  }
</script>
