<style>
  .colorpicker-dropdown {
    position: absolute;
    z-index: 1;
    background: #fff;
    left: 0;
    width: 250px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
</style>

<div class="colorpicker-dropdown">
  <ColorPreview h="{{ h }}" s="{{ s }}" v="{{ v }}" />

  <ColorPalette
    h="{{ h }}"
    userInputHsv="{{ userInputHsv }}"
    on:change="onChangePalette(event)" />

  <Slider
    h="{{ h }}"
    userInputHsv="{{ userInputHsv }}"
    on:change="onChangeSlider(event)" />
</div>

<script>
  import ColorPreview from './ColorPreview'
  import ColorPalette from './ColorPalette'
  import Slider from './Slider'

  export default {
    components: {
      ColorPreview,
      ColorPalette,
      Slider
    },

    methods: {
      onChangeSlider(params) {
        this.set({
          h: params.h
        })

        this.hsvChanged()
      },

      onChangePalette(params) {
        this.set({
          s: params.s,
          v: params.v
        })

        this.hsvChanged()
      },

      hsvChanged() {
        this.fire('change', {
          h: this.get('h'),
          s: this.get('s'),
          v: this.get('v')
        })
      }
    }
  }
</script>
