<style>
  .huepicker {
    display: inline-block;
    position: relative;
  }
</style>

<div
  class="huepicker"
  on:click="onClickRoot(event)">

  <Input
    value="{{ inputValue }}"
    on:change="onChangeInputValue(event)"
    on:focus="onInputFocus(event)"
    on:blur="onInputBlur(event)" />

    {{#if open}}
      <Dropdown
        h="{{ h }}"
        s="{{ s }}"
        v="{{ v }}"
        userInputHsv="{{ userInputHsv }}"
        on:change="onChangeHsv(event)" />
    {{/if}}
</div>

<script>
  import Input from './Input'
  import Dropdown from './Dropdown'

  import {
    hsvToRgb,
    rgbToHex,
    rgbToHsv
  } from '../converters'

  import { parseInput } from '../parser'

  export default {
    data() {
      return {
        h: 0,
        s: 0,
        v: 0,
        userInputHsv: [ 0, 0, 0 ],
        open: false
      }
    },

    methods: {
      onChangeHsv(params) {
        const hex = rgbToHex(hsvToRgb([
          params.h,
          params.s,
          params.v
        ]))

        const inputValue = `#${hex}`
        this.set({ inputValue })
        this.fire('change', inputValue)
      },

      onChangeInputValue(event) {
        const inputValue = event.target.value
        const rgb = parseInput(inputValue)

        if(rgb === null) {
          return
        }

        this.setHsv(rgbToHsv(rgb))
        this.set({ inputValue })
        this.fire('change', inputValue)
      },

      onInputFocus() {
        const inputValue = this.get('inputValue')
        const rgb = parseInput(inputValue)

        if(rgb === null) {
          return
        }

        this.setHsv(rgbToHsv(rgb))
        this.set({ inputValue })
        this.set({ open: true })
      },

      setHsv(hsv) {
        this.set({
          h: hsv[0],
          s: hsv[1],
          v: hsv[2],
          userInputHsv: hsv
        })
      },

      onInputBlur() {
        this.set({ open: false })
      },

      onClickRoot(event) {
        event.stopPropagation()
      }
    },

    components: {
      Input,
      Dropdown
    }
  }
</script>
