<style>
  .huepicker-slider {
    padding: 8px;
    background: #fff;
    position: relative;
  }

  .huepicker-slider-track {
    height:8px;
    background: -moz-linear-gradient(left, #ff0000 0%, #ffff00 16%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 84%, #ff0004 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff0000), color-stop(16%, #ffff00), color-stop(33%, #00ff00), color-stop(50%, #00ffff), color-stop(67%, #0000ff), color-stop(84%, #ff00ff), color-stop(100%, #ff0004));
    background: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 16%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 84%, #ff0004 100%);
    background: -o-linear-gradient(left, #ff0000 0%, #ffff00 16%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 84%, #ff0004 100%);
    background: -ms-linear-gradient(left, #ff0000 0%, #ffff00 16%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 84%, #ff0004 100%);
    background: -left-linear-gradient(left,#ff0000 0%,#ffff00 16%,#00ff00 33%,#00ffff 50%,#0000ff 67%,#ff00ff 84%,#ff0004 100%);
    cursor: pointer;
  }

  .huepicker-slider-draghandle {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 7px;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;
    box-shadow: 0 1px 4px #444444;
    cursor: pointer;
  }
</style>

<div class="huepicker-slider">
  <div
    class="huepicker-slider-track"
    on:mousedown="onTrackMouseDown(event)">
  </div>
  <div
    class="huepicker-slider-draghandle"
    on:mousedown="onDraghandleMouseDown(event)"
    style="left: {{ x }}px;">
  </div>
</div>

<script>
  const handlePadding = 4
  const sliderWidth = 232

  export default {
    onrender() {
      this.originalOffsetX
      this.originalX

      this.handleDocumentMouseup = event => {
        document.removeEventListener('mousemove', this.handleDocumentMouseMove)
        document.removeEventListener('mouseup', this.handleDocumentMouseup)
      }

      this.handleDocumentMouseMove = event => {
        const delta = event.clientX - this.originalX
        let x = this.originalOffsetX + delta
        x = Math.min(x, sliderWidth)
        x = Math.max(x, 0)
        this.updateHandlePosition(x)
      }

      this.observe('userInputHsv', hsv => {
        // when an hsv change comes from user input, update
        // h and x.
        this.setValuesFromHsv(hsv)
      })
    },

    data() {
      return {
        x: 0
      }
    },

    methods: {
      onTrackMouseDown(event) {
        event.preventDefault()
        document.addEventListener('mouseup', this.handleDocumentMouseup)
        document.addEventListener('mousemove', this.handleDocumentMouseMove)

        this.originalOffsetX = event.offsetX
        this.originalX = event.clientX
        this.updateHandlePosition(event.offsetX)
      },

      onDraghandleMouseDown(event) {
        event.preventDefault()
        document.addEventListener('mouseup', this.handleDocumentMouseup)
        document.addEventListener('mousemove', this.handleDocumentMouseMove)
        this.originalOffsetX = this.get('x')
        this.originalX = event.clientX
      },

      updateHandlePosition(pos) {
        this.set({ x: pos + handlePadding })
        const percentage = pos / sliderWidth

        this.fire('change', {
          h: 360 * percentage
        })
      },

      setValuesFromHsv(hsv) {
        this.set({ x: (sliderWidth * (hsv[0] / 360)) + handlePadding })
      }
    }
  }
</script>
